/* reset */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* html5 reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* app */

html {
  -webkit-font-smoothing: antialiased; /* http://maxvoltar.com/archive/-webkit-font-smoothing */
}

body {
  background: #fff;
  color: #6b6b6b;
  font: normal 62.5% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 49px 0;
  text-align: center;
}

.site-header {
  margin: 0 auto 17px auto;
  width: 475px;
}

.project-heading {
  color: #343434;
  font-family: Didot, "Didot LT STD", "Times New Roman", serif;
  font-size: 3.6em;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.instructions-heading {
  color: #999;
  font-size: 1.9em;
  text-transform: lowercase;
}

.error {
  color: #a81817;
}

.shell {
  margin: 0 auto;
  width: 620px;
}

canvas {
  background-color: #ededed;
  display: block;
  height: 620px;
  margin-bottom: 26px;
  width: 620px;
}

a:link,
a:visited {
  color: #a4a4a4;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hover {
  border: 7px dashed #333;
}

.btn-filter {
  background: #000;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 30px 0;
  padding: 10px 14px;
  -webkit-transition: background .2s ease;
     -moz-transition: background .2s ease;
      -ms-transition: background .2s ease;
       -o-transition: background .2s ease;
          transition: background .2s ease;
}

.btn-filter:hover {
  background: #333;
  color: #fff;
}

.disabled,
.disabled:hover {
  background: #ededed;
  color: #aaa;
}


.site-footer {
  border-top: 1px solid #e2e2e2;
  padding-top: 11px;
  text-align: center;
}

.site-footer p {
  font-size: 1.1em;
  line-height: 1.7em;
}
